/*记得写宽高。。*/
#qwe{
  /*／*background-image: url(img/log.png);3.2k*/
  background-image:url(img/log.png);
  height:500px;
  width:500px;
}
#asd{
   background-image: url(img/5.jpg);
   height:800px;
  width:800px;
}